<form [formGroup]="consumerForm" (ngSubmit)="saveCustomer()">
  <p>
    <mat-form-field>
      <mat-label for="civility">civility</mat-label>
      <mat-select formControlName="civility">
        <mat-option value="Mr">Mr</mat-option>
        <mat-option value="Mme">Mme</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label for="firstname">firstname</mat-label>
      <input matInput name= "firstname" type="text"
        formControlName="firstname">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label for="lastname">lastname</mat-label>
      <input matInput name= "lastname" type="text"
        formControlName="lastname">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label for="email">email</mat-label>
      <input matInput name= "email" type="text"
        formControlName="email">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label for="phone">phone</mat-label>
      <input matInput name= "phone" type="text"
        formControlName="phone">
    </mat-form-field>
  </p>
  <button mat-button type="submit">Validate</button>
</form>
