<input type="text" [(ngModel)]="searchField"
        (keyup)="search()">
<a [routerLink]="'/consumer'" mat-icon-button matTooltip="Add consumer">
  <mat-icon>person_add</mat-icon>
</a>
<table>
  <tr *ngFor="let consumer of consumers | async">
    <td>{{consumer.civility}}</td>
    <td>{{consumer.firstname}}</td>
    <td>{{consumer.lastname}}</td>
    <td>{{consumer.email}}</td>
    <td>{{consumer.phone | phone}}</td>
    <td>
      <a [routerLink]="['/consumer',consumer.id]" mat-icon-button><mat-icon>edit</mat-icon></a>
      <a (click)="deleteConsumer(consumer.id!)" mat-icon-button><mat-icon>delete</mat-icon></a>
    </td>
  </tr>
</table>
