<form [formGroup]="loginForm" (ngSubmit)="logMeIn()">
  <p>
    <mat-form-field>
      <mat-label for="login">Login</mat-label>
      <input matInput name= "login" type="text"
        formControlName="login">
    </mat-form-field>
    <span *ngIf="loginForm.get('login')?.touched && loginForm.get('login')?.invalid">
      <span *ngIf="loginForm.get('login')?.errors?.['required']">
        login est obligatoire
      </span>
      <span *ngIf="loginForm.get('login')?.errors?.['minlength']">
        longueur doit être supérieure à 3
      </span>
    </span>
  </p>
  <p>
    <mat-form-field>
      <mat-label for="password">Password</mat-label>
      <input matInput name="password" type="password"
          formControlName="password">
    </mat-form-field>

  </p>
  <button mat-button type="submit" [disabled]="loginForm.invalid" color="primary">Login</button>
</form>

