<form [formGroup]="loginForm" (ngSubmit)="logMeIn()">
  <p>
    <mat-form-field>
      <mat-label for="login">Login</mat-label>
      <input matInput name= "login" type="text"
        formControlName="login">
    </mat-form-field>
    <crm-help [field]="loginForm.get('login')!"
            [errorMessages]="loginErrorMessages"></crm-help>
  </p>
  <p>
    <mat-form-field>
      <mat-label for="password">Password</mat-label>
      <input matInput name="password" type="password"
          formControlName="password">
    </mat-form-field>

  </p>
  <button mat-button type="submit" [disabled]="loginForm.invalid" color="primary">Login</button>
</form>

