<form [formGroup]="loginForm" (ngSubmit)="logMeIn()">
  <p>
    <label for="login">Login</label>
    <input name= "login" type="text"
      formControlName="login">
    <span *ngIf="loginForm.get('login')?.touched && loginForm.get('login')?.invalid">
      <span *ngIf="loginForm.get('login')?.errors?.['required']">
        login est obligatoire
      </span>
      <span *ngIf="loginForm.get('login')?.errors?.['minlength']">
        longueur doit être supérieure à 3
      </span>
    </span>
  </p>
  <p>
    <label for="password">Password</label>
    <input name="password" type="password"
        formControlName="password">
  </p>
  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>

